
a{
	text-decoration: none;
}
a:hover{
	color: #fff;
}

.bg-dark{
    background-color: #2E5366 !important;
}
.navbar-brand{
    font-weight: 800;
    font-size: 20px;
    font-family: cursive;   
}
.navbar-dark .navbar-nav .nav-link{
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
}
.navbar-dark .navbar-nav .nav-item{
    margin: 0 5px;
}
.navbar-dark .navbar-nav .nav-item .active{
    color: blue !important;
}
.form-control{
    width: 100px;
}
.gh{
    color: #fff;
    font-size: 25px;
    margin-left: 10px;
}
/*thêm span cho giỏ hàng start*/
.icon-cart{
    font-size: 20px;
    color: #fff;
    display: block;
    position: relative;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.attr-nav > a span.badge {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    right: 5px;
    font-size: 10px;
    padding: 0;
    width: 15px;
    height: 15px;
    padding-top: 2px;
    background-color: #f43438;
}
.badge{
    display: inline-block;
    min-width: 10px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 10px;
}
/*sửa lại đăng xuất*/
.name-li{
    font-size: 12px;
    color: black;

}
.cbYxcp{
    font-size: 13px;
    margin-left: 8px;
}
.lneWsb{
    cursor: pointer;
    margin: 0px 0px 0px 25px;
    -webkit-box-align: center;
    align-items: center;
    display: inline-flex;
    color: rgb(255, 255, 255);
    font-size: 20px ;
    position: relative;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.9px;
}
li.lneWsb:hover ul{
    display: block;
}
li.lneWsb > ul {
    display: none;
    border: 1px solid rgb(239, 239, 239);
    background: rgb(255, 255, 255);
    list-style: none;
    border-radius: 0px 0px 3px 3px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 6px 12px 0px;
    position: absolute;
    top: 30px;
    left: calc(50% + 10px);
    transform: translateX(-64%);
    
}
li.lneWsb > ul::before {
    border-width: 9px;
    border-style: solid;
    border-color: transparent transparent rgb(255, 255, 255);
    border-image: initial;
    margin-left: -9px;
    bottom: 100%;
    left: 50%;
    content: " ";
    height: 0px;
    width: 0px;
    position: absolute;
    pointer-events: none;
}
li.lneWsb > ul::after {
    content: " ";
    background: transparent;
    height: 20px;
    width: 150px;
    top: -20px;
    left: calc(50% - 65px);
    position: absolute;
    display: inline-block;
}
/*li.lneWsb > ul.sub-menu{
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 0;
}*/

li.lneWsb > ul.sub-menu > li{
    display: block;
    min-width: 135px;
}

li.lneWsb > ul.sub-menu > li > a {
    cursor: pointer;
    display: inline-block;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    margin: 0px;
    padding: 8px 10px;
    color: rgb(51, 51, 51);
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
    list-style: none;
}
li.lneWsb > ul.sub-menu > li > a:hover{
    background-color: rgb(245, 244, 245);
    color: #2E5366;
    font-weight: 600;
    text-decoration: none;
    width: 100%;
}
/*phần menu*/
/*slide*/
.banner{
	margin-bottom: 50px;
}
.promo-titles p{
	font-size: 60px;
	font-weight: 800;
	font-style: italic;
	margin-bottom: 2rem;
	font-family: fantasy;
}
/*slide*/
.carousel-item {
	height: 50vh;
	width: 700px;
}
/*khung chat*/

.container{
	margin: 60px auto;
	background: #fff;
	padding: 0;
	border-radius: 7px;
}
.vienKhung{
	border: 1px solid black;
}
.border-right {
    border-right: 1px solid black!important;
}
.setting-main{
    display: inline-block;
    background: #eee;
    height: 70px;
    width: 100%;
    border-radius: 7px;
}
.name{
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 500;
}
.profile-image{
	width: 50px;
	height: 50px;
	margin: 10px;
	border-radius: 40px;
}
.setting-tray{
	background: #eee;
	padding: 10px 10px;
	border-radius: 7px;
}
.setting-tray .no-gutters {
    padding: 0;
}
.setting-right{
	float: right;
}
.setting-right i{
	margin-top: 10px;
	font-size: 20px;
	color: grey;
	margin-left: 14px;
	transition: .3s;
	
}
.setting-right i:hover{
	color: blue;
	cursor: pointer;
}
.search-box {
  	background: #fafafa;
  	padding: 10px 13px;
 }
.search-box .input-wrapper {
    background: #fff;
    height: 30px;
    border-radius: 40px;
}
.search-box .input-wrapper i 
{
	color: grey;
    margin-left: 9px;
    margin-bottom: 5px;
    vertical-align: middle;
}

input {
	border: none;
	border-radius: 30px;
	width: 80%;	
    padding-left: 5px;
    margin: 0;
   
  
 
}
input::placeholder {
    color: #e3e3e3;
    font-weight: 300;
    margin-left: 20px;
}

input:focus {
    outline: none;
}

.friend-drawer {
  display: flex;
  vertical-align: baseline;
  background: #fff;
  transition: .3s ease;
}
.friend-grey {
    background: #eee;
    border-radius: 7px;
 }
.friend-drawer .text {
    margin-left: 12px;
    width: 80%;
}   
.friend-drawer .text h6 {
 	margin-top: 6px;
  	margin-bottom: 0;
}
.friend-drawer .text p{
    margin: 0;
    margin-top: 5px;
    font-size: 13px;
    font-weight: 300;
}
  
.friend-drawer.time {
    color: grey;
}
  
.friend-onhover:hover {
    background: #61aed6;
    cursor: pointer;
}
.friend-onhover p,.friend-onhover h6,
.friend-onhover .time {
    color: black !important;
    margin-right: 20px;
    margin-top: 10px;
}
hr {
  margin: 5px auto;
  width: 85%;
}

/*footer*/
.footer{
    background-color: #2E5366 !important;
    margin-top: 60px;
}
.footer-cha {
    line-height: 40px;
    display: table;
    width: 1200px;
    margin: 0 auto;
    padding: 60px 0px 20px 0px;
    color: #fff;
}
.footer-trai {
    line-height: 35px;
    width: 100%;
    float: left;
    text-align: center;
    border-right: 1px solid #2b5639;
}
.footer-phai {
    width: 100%;
    float: left;
    line-height: 31px;
    color: #fff !Important;
    text-align: center;
}
img.logos {
    border-radius: 20px;
    margin-top: -10px;
}
.m1, .m2, .m3 {
    height: 277px;
    border-right: 1px solid #2b5639;
    width: 33.3333%;
    float: left;
    text-align: center;
    font-size: 14px;
    color: #fff;
    padding: 0px 10px;
}   
.text {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    margin-bottom: -10px;
}
p.diachi{
    margin: 0 0 10px;
    font-size: 12px;
}
p.sub-m {
    padding: 5px;
    border-bottom: 1px dashed #fff;
}
.img-icon{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
}
