#overlay-area{
    margin: 0;
    padding: 0;
    background: url('http://localhost:3216/imageforlogin.jpg') ;  
    background-size: cover;
    
    font-family: sans-serif;
}
.login{
    width: 400px;
    height: 470px;
    color: #000;
    top:50%;
    left: 50%;
    padding: 60px 30px;
    position: absolute;
    transform: translate(-50% , -50%);
    box-sizing: border-box;
    box-shadow: 8px 8px 50px #000;
    border-radius: 5px;
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 30px;
}

.login input{
    width: 100%;
    margin-bottom: 20px;
}
.login input[type=text],.login input[type=password]{
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    outline: none;
    height: 30px;
    font-size: 16px;
    opacity: 1;
    color: #000;
}
.submit input[type=submit],.submit input[type=button]{
    border: none;
    outline: none;
    height: 40px;
    /*background: #f6648b;*/
    background: linear-gradient(to right , #ff105f, #ffad06);
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;

}

#buttonsubmit{
    border: none;
    outline: none;
    height: 40px;
    /*background: #f6648b;*/
    background: linear-gradient(to right , #ff105f, #ffad06);
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
}
.login a{
    text-decoration: none;
    color: #fff;
    opacity: 0.8;
    font-weight: 500;
    text-decoration: underline;
}
.login a:hover{
    color: blue;
    opacity: 1;
}
.text{
    color: #fff;
}
.text a {
    font-size: 15px;
}
.submit a {
    font-size: 15px;
}
.text input{
    width: 10%;
    float: left;
}
.text a{
    float: right;
}
.link{
    margin-top:30px auto;
    text-align: center;
}
.link img{
    width: 50px;
    margin: 50px 20px;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;
    border-radius: 50%;
    display: inline-block;
}
#overlay-area{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3) ;
    z-index: -5;
    height: 100%;
    width: 100%;
    top:0;
    bottom:0;
}
::-webkit-input-placeholder {
   color : #422c33;
  }

.breadcrumb__nofication {
    color: rgb(252, 42, 42);
    font-size: 18px;
    font-weight: 600;
}
